/*----Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');


body {
  font-family: 'Roboto', serif;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  font-size: 50px;
  line-height: 1.125;
}

p {
  letter-spacing: 2px;
}

/*----Header----*/
.hero-banner h1 {
  font-size: 50px;
  line-height: 1.125;
  margin: 0 auto;
  color: #0B0550;
}

.my-5 {
  margin-top: 1rem !important;
}

.py-5 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.img-fluid {
  padding-top: 35px;
}

/*Header fade in*/
.fade-in {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/*end of fade in animation*/

/*Neon button styling*/

.btn1 {
  background: transparent;
  color: #0c43e9;
  width: 90px;
  height: 36px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-color: #0c43e9;
  font-weight: 600;
  border-radius: 22px;
  letter-spacing: 7px;
  transition: 2s;
}

.btn1 :hover {
  cursor: pointer;
  box-shadow: 0 2px 50px 0 #4E85AD, 0 20px 100px 0 #4E85AD;
  transition: 1s;
}



/*Header & content*/
.vertical-spacer {
  min-height: 100vh;
}



.logo {
  text-align: center;
  -webkit-animation: fadein-from-left 1s 0.5s forwards;
  animation: fadein-from-left 1s 0.5s forwards;
}

.intro {
  opacity: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-animation: fadein-from-left 1s 1s forwards;
  animation: fadein-from-left 1s 1s forwards;
}

.link-container {
  margin-top: 20px !important;
  opacity: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-animation: fadein-from-left 1s 1.5s forwards;
  animation: fadein-from-left 1s 1.5s forwards;
}

.link-container a {
  color: #4A4B4E;
}

.section-header-text {
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.section-text {
  margin-top: 30px !important;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-left {
  margin-top: 30px !important;
  text-align: left;
}

.text-right {
  margin-top: 30px !important;
  text-align: right;
}

.separator {
  border-right: 3px solid black;
}


/* Carousel */
.section-carousel-text {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

/*header */